[submodule "rostron_receiver"]
	path = rostron_receiver
	url = ../rostron_receiver.git
	branch = develop
[submodule "rostron_interfaces"]
	path = rostron_interfaces
	url = ../rostron_interfaces.git
	branch = develop
[submodule "rostron_sender"]
	path = rostron_sender
	url = ../rostron_sender.git
	branch = develop
[submodule "rostron_bringup"]
	path = rostron_bringup
	url = ../rostron_bringup.git
	branch = develop
[submodule "rostron_aggregate_py"]
	path = rostron_aggregate_py
	url = ../rostron_aggregate_py.git
	branch = develop
[submodule "rostron_navigation"]
	path = rostron_navigation
	url = ../rostron_navigation.git
	branch = develop
